  
  .button {
    padding: 10px 20px; /* Adjust the padding as per the design */
    font-size: 14px; /* Adjust font-size as needed */
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative; /* Needed for the absolute positioning of the arrow */
    overflow: hidden; /* Ensures the pseudo-element doesn't cause scroll */
    display: inline-flex;
    align-items: center;
  }
  
  .button .arrow {
    display: block;
    margin-left: 10px; /* Space between the text and the arrow */
    width: 0;
    height: 0;
    border-top: 5px solid transparent; /* Adjust size accordingly */
    border-bottom: 5px solid transparent; /* Adjust size accordingly */
    border-left: 5px solid white; /* Adjust color and size accordingly */
    content: '';
  }
  
  .get-started {
    background-color: #132030; /* Change color to match the design */
    border-radius: 8px; /* Adjust the border-radius as per design */
    margin-right: 15px;
}
  
  .contact-sales {
    background-color: #31f2bf; /* Change color to match the design */
    color: black; /* Change color to match the design */
    border-radius: 8px; /* Adjust the border-radius as per design */
  }
  
  .get-started:hover, .contact-sales:hover {
    /* Add hover styles here */
  }