/* Header.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Vertically center */
  align-items: center;
  /* Horizontally center */
  height: 100vh;
  /* This ensures the header takes the full viewport height */
}

h2 {
  color: rgba(255, 255, 255, 0.599);
}

.slogan {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.update {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
