.container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.outsight {
}

.NavButtons {
  color: #687887;
  margin-left: 10px;
}
