@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h2 {
  color: rgba(255, 255, 255, 0.599);
}

.hero-container {
  max-width: 1100px;
  text-align: left;
  display: block;
  z-index: 2; 
}

.slogan {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #1a2b3b;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: -2px;
  z-index: 2; 
}

.subheading {
  z-index: 2;
  font-size: 20px;
}